/*
    Table of Contents

    Variables

*/


/*----------------------------------------------------*/
/*                   Variables                        */
/*----------------------------------------------------*/
:root {
    /*
        Colors
    */

    /*
        First CLRS from From http://clrs.cc/
    */
       --clrs-navy: #001f3f;
       --clrs-blue: #0074D9;
       --clrs-aqua: #7FDBFF;
       --clrs-teal: #39CCCC;
      --clrs-olive: #3D9970;
      --clrs-green: #2ECC40;
       --clrs-lime: #01FF70;
     --clrs-yellow: #FFDC00;
     --clrs-orange: #FF851B;
        --clrs-red: #FF4136;
     --clrs-maroon: #85144b;
    --clrs-fuchsia: #F012BE;
     --clrs-purple: #B10DC9;
      --clrs-black: #111111;
       --clrs-gray: #AAAAAA;
     --clrs-silver: #DDDDDD;

    /*
        Custom Colors

        Info
        Warning
        Danger
        Success
        White


    */

      --clr-blue: #00A6ED;
    --clr-yellow: #FFB400;
    --clr-orange: #F6511D;
     --clr-green: #7FB800;
     --clr-white: #FFFFFF;
     --clr-black: #000000;

    /*
        Font Variables

        base font-size
        h1
        h2
        h3
        h4
        h5
        h6
        small
        blockquote

    */

     --font-base-size: 1em;
       --font-h1-size: 3em;
       --font-h2-size: 2.8em;
       --font-h3-size: 2.6em;
       --font-h4-size: 2.4em;
       --font-h5-size: 2.2em;
       --font-h6-size: 2em;
    --font-small-size: 0.8em;
       --font-bq-size: 1.5em;

    

}
